{# Requirements #}
{% from "macro/example.j2" import example_settings %}

{# Prepare #}
{% if global.location.entity.id.category.longName == 'Page' %}
    {% set examples = [
        {
            label: 'Page',
            url: global.urls.resolveEntityId(global.location.entity.id, '/' + global.location.entity.id.asString() + '.j2')
        }
    ] %}
{% else %}
    {% set examples = [] %}
    {% for example in global.location.entity.documentation.getByContentKind(ContentKind.EXAMPLE) %}
        {{ examples.push(
            {
                label: example.name,
                url: global.urls.resolveEntityId(global.location.entity.id, '/examples/' + example.file.basename)
            }
        ) }}
    {% endfor %}
{% endif %}

{# Render #}
{% extends "./layout/default.j2" %}

{% block name %}{{ global.location.entity.id.asString() }} Examples{% endblock %}
{% block type %}examples{% endblock %}
{% block menu %}
    <div class="navigation examples active">
        <i class="desktop icon"></i>
    </div>
    <a class="navigation documentation" href="{{ global.urls.resolveEntityId(global.location.entity.id, '/documentation') }}" data-tooltip="Show documentation" data-position="bottom left">
        <i class="file text outline icon"></i>
    </a>
    <div class="right menu">
        <a class="ui item settings" data-tooltip="Configure example settings" data-position="bottom right">
            <i class="setting icon"></i>Settings
        </a>

        {% if examples|length > 1 %}
            <select class="ui item example dropdown">
                {% for example in examples %}
                    <option value="{{ example.url }}">{{ example.label }}</option>
                {% endfor %}
            </select>
        {% endif %}

        <select class="ui item device dropdown">
            <option value="100%">Full</option>
            <option value="320px">XS</option>
            <option value="480px">S</option>
            <option value="768px">M</option>
            <option value="1024px">L</option>
            <option value="1280px">XL</option>
        </select>

        <a class="item open" href="JavaScript:;">
            <i class="external icon"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    <iframe class="view" src="{{ examples[0].url|guiSettings(global.location.entity) }}"></iframe>
    {{ example_settings() }}
{% endblock %}
{% block bottom %}
    <script src="/_/js/examples.js"></script>
{% endblock %}
