{# Requirements #}

{# Render #}
{% extends "./layout/default.j2" %}

{% block name %}{{ global.location.entity.id.asString() }} Examples{% endblock %}
{% block type %}examples{% endblock %}
{% block menu %}
    <div class="navigation examples active">
        <i class="desktop icon"></i>
    </div>
    <a class="navigation documentation" href="{{ global.urls.resolveEntityId(global.location.entity.id, '/documentation') }}" data-tooltip="Show documentation" data-position="bottom left">
        <i class="file text outline icon"></i>
    </a>
    <a class="navigation settings" data-tooltip="Configure example settings" data-position="bottom left">
        <i class="file setting icon"></i>
    </a>
    <div class="right menu">
        <select class="ui item example dropdown">
            {% if global.location.entity.id.category.longName == 'Page' %}
                <option value="{{ global.urls.resolveEntityId(global.location.entity.id, '/' + global.location.entity.id.asString() + '.j2') }}">Page</option>
            {% else %}
                {% for example in global.location.entity.documentation.getByContentKind(ContentKind.EXAMPLE) %}
                    <option value="{{ global.urls.resolveEntityId(global.location.entity.id, '/examples/' + example.file.basename) }}">{{ example.name }}</option>
                {% endfor %}
            {% endif %}
        </select>

        <select class="ui item device dropdown">
            <option value="100%">Full</option>
            <option value="320px">XS</option>
            <option value="480px">S</option>
            <option value="768px">M</option>
            <option value="1024px">L</option>
            <option value="1280px">XL</option>
        </select>

        <a class="item open" href="JavaScript:;">
            <i class="external icon"></i>
        </a>
    </div>
{% endblock %}
{% block content %}
    <iframe class="view" src="about:blank"></iframe>
    <div class="ui modal settings">
        <i class="close icon"></i>
        <div class="header">
            Settings
        </div>
        <form class="ui form content">
            {% set settings = global.location.entity.properties.getByPath('examples.overview.settings', []) %}
            {% for setting in settings %}
                <div class="field">
                    <label>{{ setting.label }}</label>
                    <div class="ui fluid single search normal selection dropdown">
                        <input type="hidden" name="{{ setting.key }}">
                        <i class="dropdown icon"></i>
                        <div class="default text"></div>
                        <div class="menu">
                            {% for item in setting.items %}
                                <div class="item" data-value="{{ item }}">{{ item }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </form>
      <div class="actions">
        <div class="ui black deny button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button">
          Apply
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>
{% endblock %}
{% block bottom %}
    <script>
        $(document).ready(function()
        {
            $('select.dropdown').dropdown();

            // Settings
            $('.ui.normal.dropdown')
                .dropdown(
                {
                    allowAdditions: true
                });
            $('.navigation.settings').on('click', function(e)
            {
                $('.ui.modal.settings').modal('show');
            });
            $('.ui.modal.settings')
                .modal(
                {
                    onApprove: ($element) =>
                    {
                        var $form = $element.parents('.ui.modal').find('form');
                        var data = $form.serializeArray();
                        console.log($form.serialize(), data);
                        $('iframe.view').attr('src', $('.dropdown.example select').val() + '?' + $form.serialize());
                        return true;
                    }
                });

            // Url
            $('.dropdown.example select').on('change', function(e)
            {
                $('iframe.view').attr('src', $(this).val());
            });

            // Size
            $('.dropdown.device select').on('change', function(e)
            {
                if (!$(this).val())
                {
                    $('iframe.view').css('width', '100%');
                }
                else
                {
                    $('iframe.view').css('width', $(this).val());
                }
            });

            // Open
            $('a.open').on('click', function(e)
            {
                window.open($('iframe.view').attr('src'));
            });

            // Open first url
            $('.dropdown.example select').trigger('change');
        });
    </script>
{% endblock %}
