{# Requirements #}
{# Render #}
{% extends "./layout/default.j2" %}
{% block name %}{{ global.location.entity.id.asString() }} Datamodel{% endblock %}
{% block type %}datamodel{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/_/css/highlight-styles/dracula.css">
{% endblock %}
{% block menu %}
    <a href="{{ global.urls.resolveEntityId(global.location.entity.id, '/examples') }}" class="navigation examples" data-tooltip="Show examples" data-position="bottom left">
        <i class="desktop icon"></i>
    </a>
    <a href="{{ global.urls.resolveEntityId(global.location.entity.id, '/documentation') }}" class="navigation documentation" data-tooltip="Show Documentation" data-position="bottom left">
        <i class="file icon"></i>
    </a>
    <div class="navigation datamodel active">
        <i class="terminal text outline icon"></i>
    </div>
    <div class="right menu">
        <select class="ui item datamodel dropdown">

            {% for datamodel in global.location.entity.documentation.getByContentKind(global.kind.DATAMODEL) %}
                <option value="{{ global.urls.resolveEntityId(global.location.entity.id, '/datamodel/' + datamodel.file.basename) }}">{{ datamodel.file.basename }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
{% block content %}

    <div class="datamodel-content">
{#      #}{{  global.urls.resolveEntityId(global.location.entity.id, '/models/' + global.location.modelFile)|load|prettyjson  }}
    </div>

{% endblock %}
{% block bottom %}
    <script type="text/javascript" src="/_/js/highlight.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('select.dropdown').dropdown();

            // Url
            $('.dropdown.datamodel select').on('change', function(e)
            {
                window.location = $(this).val();
            });

            hljs.highlightBlock($('.datamodel-content').get(0));

        });
    </script>
{% endblock %}
