{# Requirements #}
{# Render #}
{% extends "./layout/default.j2" %}
{% block name %}{{ global.location.entity.id.asString() }} Datamodel{% endblock %}
{% block type %}datamodel{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/_/css/jsoneditor.min.css">
{% endblock %}
{% block menu %}
    <a href="{{ global.urls.resolveEntityId(global.location.entity.id, '/examples') }}" class="navigation examples" data-tooltip="Show examples" data-position="bottom left">
        <i class="desktop icon"></i>
    </a>
    <a href="{{ global.urls.resolveEntityId(global.location.entity.id, '/documentation') }}" class="navigation documentation" data-tooltip="Show Documentation" data-position="bottom left">
        <i class="file icon"></i>
    </a>
    <div class="navigation datamodel active">
        <i class="terminal text outline icon"></i>
    </div>
    <div class="right menu">
        <select class="ui item datamodel dropdown">

            {% for datamodel in global.location.entity.documentation.getByContentKind(global.kind.DATAMODEL) %}
                <option {% if datamodel.file.basename == global.location.modelFile %}selected="selected"{% endif %} value="{{ global.urls.resolveEntityId(global.location.entity.id, '/datamodel/' + datamodel.file.basename) }}">{{ datamodel.file.basename }}</option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
{% block content %}

    <div class="datamodel-content">
        <div class="datamodel-content__rawjson">
{#          #}{{  global.urls.resolveEntityId(global.location.entity.id, '/models/' + global.location.modelFile)|load|prettyjson  }}
        </div>
    </div>

{% endblock %}
{% block bottom %}
    <script type="text/javascript" src="/_/js/jsoneditor.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            $('select.dropdown').dropdown();

            // Url
            $('.dropdown.datamodel select').on('change', function(e)
            {
                window.location = $(this).val();
            });

            var editor = new JSONEditor(
                $('.datamodel-content').get(0),
                {
                    "indentation": 4,
                    mode: "view",
                    modes: [ 'view', 'text']
                }
            );

            // Enables JSONEditor
            var json = {{ global.urls.resolveEntityId(global.location.entity.id, '/models/' + global.location.modelFile)|load|prettyjson }};
            editor.set(json);
            editor.setName("{{ global.location.modelFile }}");
            editor.expandAll();

            $('.datamodel-content__rawjson').hide();

        });
    </script>
{% endblock %}
