{# Requirements #}
{% from "macro/site.j2" import site_card %}

{# Render #}
{% extends "./layout/default.j2" %}
{% block name %}Sites{% endblock %}
{% block type %}sites{% endblock %}
{% block content %}
    <div class="sites">
        {% for site in global.sites.getItems() %}
            {{ site_card(model=site, global=global) }}
        {% endfor %}
    </div>
{% endblock %}
