{# Requirements #}
{% from "macro/site.j2" import site_card %}

{# Render #}
{% extends "./layout/default.j2" %}
{% block name %}Sites{% endblock %}
{% block type %}sites{% endblock %}
{% block content %}
{% endblock %}
