
.view.datamodel
{
    .content-container
    {
        .datamodel-content
        {
            position: absolute;
            top: 4rem;
            left: 2rem;
            right: 2rem;
            bottom: 2rem;
            margin: 0;
        }
    }
}
