
.view.datamodel
{
    .content-container
    {
        .datamodel-content
        {
            margin: 2rem auto;
            width: 80%;
            max-width: 1200px;
            white-space: pre;
        }
    }
}
