
.view.documentation
{
    .content-container
    {
         .internal.documentation
        {
            margin: 2rem auto;
            width: 80%;
            max-width: 800px;

            p > img
            {
                width: 100%;
            }
        }

        .external.documentation
        {
            position: absolute;
            top: 31px;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}
