.view.sites
{
    /**
     * Sites
     */
    .sites
    {
        padding: 2rem 0 0 2rem;
    }

    .site
    {
        min-width: 19rem;
        width: 32%;
        padding: 0 2rem 2rem 0;
        box-sizing: border-box;

        .card
        {
            margin: 0 !important;
            width: 100% !important;

            .buttons.content
            {
                padding-bottom: 0.5rem;
                text-align: right;
                background-color: #EEE;
                border: 1px solid rgba(34, 36, 38, 0.1);

                .button
                {
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
