/*

████████╗██╗  ██╗███████╗███╗   ███╗███████╗███████╗
╚══██╔══╝██║  ██║██╔════╝████╗ ████║██╔════╝██╔════╝
   ██║   ███████║█████╗  ██╔████╔██║█████╗  ███████╗
   ██║   ██╔══██║██╔══╝  ██║╚██╔╝██║██╔══╝  ╚════██║
   ██║   ██║  ██║███████╗██║ ╚═╝ ██║███████╗███████║
   ╚═╝   ╚═╝  ╚═╝╚══════╝╚═╝     ╚═╝╚══════╝╚══════╝

*/

/*******************************
        Theme Selection
*******************************/

/* To override a theme for an individual element
   specify theme name below
*/
@defaultTheme: 'default';

/* Global */
@site       : @defaultTheme;
@reset      : @defaultTheme;

/* Elements */
@button     : @defaultTheme;
@container  : @defaultTheme;
@divider    : @defaultTheme;
@flag       : @defaultTheme;
@header     : @defaultTheme;
@icon       : @defaultTheme;
@image      : @defaultTheme;
@input      : @defaultTheme;
@label      : @defaultTheme;
@list       : @defaultTheme;
@loader     : @defaultTheme;
@rail       : @defaultTheme;
@reveal     : @defaultTheme;
@segment    : @defaultTheme;
@step       : @defaultTheme;

/* Collections */
@breadcrumb : @defaultTheme;
@form       : @defaultTheme;
@grid       : @defaultTheme;
@menu       : @defaultTheme;
@message    : @defaultTheme;
@table      : @defaultTheme;

/* Modules */
@accordion  : @defaultTheme;
@checkbox   : @defaultTheme;
@dimmer     : @defaultTheme;
@dropdown   : @defaultTheme;
@embed      : @defaultTheme;
@modal      : @defaultTheme;
@nag        : @defaultTheme;
@popup      : @defaultTheme;
@progress   : @defaultTheme;
@rating     : @defaultTheme;
@search     : @defaultTheme;
@shape      : @defaultTheme;
@sidebar    : @defaultTheme;
@sticky     : @defaultTheme;
@tab        : @defaultTheme;
@transition : @defaultTheme;

/* Views */
@ad         : @defaultTheme;
@card       : @defaultTheme;
@comment    : @defaultTheme;
@feed       : @defaultTheme;
@item       : @defaultTheme;
@statistic  : @defaultTheme;

/*******************************
            Folders
*******************************/

/* Path to theme packages */
@themesFolder : 'themes';

/* Path to site override folder */
@siteFolder   : 'site/';


/*******************************
         Import Theme
*******************************/

@import "theme.less";

/* End Config */
