
{% macro entity_menu() %}

    {# Prepare #}
    {# Render #}
    <div class="ui left icon mini search input">
        <input type="text" placeholder="Search entity...">
        <i class="search icon"></i>
    </div>
    <div class="item seperator"></div>    
    {% if global.settings.showStatus %}            
        <a class="pointing browse item">
            States
            <i class="dropdown icon"></i>
        </a>
        <div class="ui flowing basic state popup">
            <div class="ui three column relaxed divided grid">
                <div class="column">
                    <h4 class="ui header">Concept</h4>
                    <div class="ui mini link concept list">
                        <a class="item selected">None</a>
                        <a class="item selected">Progress</a>
                        <a class="item selected">Review</a>
                        <a class="item selected">Done</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui header">Frontend</h4>
                    <div class="ui mini link frontend list">
                        <a class="item selected">None</a>
                        <a class="item selected">Progress</a>
                        <a class="item selected">Review</a>
                        <a class="item selected">Done</a>
                    </div>
                </div>
                <div class="column">
                    <h4 class="ui mini header">Integration</h4>
                    <div class="ui mini link integration list">
                        <a class="item selected">None</a>
                        <a class="item selected">Progress</a>
                        <a class="item selected">Review</a>
                        <a class="item selected">Done</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endmacro %}


{% macro entity_card(model) %}

    {# Prepare #}
    {% set hasExamples = false %}
    {% if model.id.category and model.id.category.longName == 'Page' %}
        {% set hasExamples = true %}
    {% else %}
        {% if model.documentation.getByContentKind(ContentKind.EXAMPLE)|length > 0 %}
            {% set hasExamples = true %}
        {% endif %}
    {% endif %}
    {% set state = model.properties.get('state') %}

    {# Render #}
    <div class="entity type-{{ model.id.category.shortName }}">
        <div class="ui raised card">
            <div class="content">
                <div class="header">{{ model.idString }}</div>
                <div class="description">{{ model.documentation.getFirstByType(DocumentationType.TEXT).description|markdown }}</div>
            </div>
            {% if global.settings.showStatus %}
                <div class="states content">
                    <div class="state concept {{ state.concept|default('Done')|lower }}">
                        <span class="name">Konzept</span>
                        <span class="value">{{ state.concept|default('Done') }}</span>
                    </div>
                    <div class="state frontend {{ state.frontend|default('Done')|lower }}">
                        <span class="name">Frontend</span>
                        <span class="value">{{ state.frontend|default('Done') }}</span>
                    </div>
                    <div class="state integration {{ state.integration|default('Done')|lower }}">
                        <span class="name">Integration</span>
                        <span class="value">{{ state.integration|default('Done') }}</span>
                    </div>
                </div>
            {% endif %}
            <div class="buttons content">
                <a href="{{ global.urls.resolveEntityId(model.id, '/documentation') }}" class="ui compact mini button">Docs</a>
                {% if hasExamples %}
                    <a href="{{ global.urls.resolveEntityId(model.id, '/examples') }}" class="ui compact mini blue button">Examples</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endmacro %}


{% macro entity_category(model) %}

    {# Prepare #}
    {% set entities = global.entities.getBySiteAndCategory(global.location.site, model) %}

    {# Render #}
    {% if entities.length > 0 %}
        <div class="entitycategory">
            <div class="ui large header">{{ model.pluralName }}</div>
            <div class="items">
                {% for entity in entities %}
                    {{ entity_card(model=entity) }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endmacro %}
