{% macro example_settings() %}

    {# Prepare #}
    {# Render #}
    <div class="ui modal settings">
        <i class="close icon"></i>
        <div class="header">
            Settings
        </div>
        <form class="ui form content">
            {% set settings = global.location.entity.properties.getByPath('examples.settings', []) %}
            {% for setting in settings %}
                <div class="field">
                    <label>{{ setting.label }}</label>
                    {% if setting.type == 'select' %}
                        <select class="ui fluid single select dropdown" name="{{ setting.name }}">
                            {% if (setting.allowEmpty == true) %}
                                <option></option>
                            {% endif %}
                            {% for item in setting.items %}
                                <option value="{{ item.value|default(item) }}" {{ "selected" if item.value|default(item) == setting.default }}>{{ item.label|default(item) }}</div>
                            {% endfor %}
                        </select>
                    {% elif setting.type == 'autocomplete' %}
                        <select class="ui fluid single search selection dropdown" name="{{ setting.name }}">
                            {% if (setting.allowEmpty == true) %}
                                <option></option>
                            {% endif %}
                            {% set items = [] %}
                            {% if setting.items %}
                                {% set items = setting.items %}
                            {% elseif setting.settings %}
                                {% set items = setting.settings|settings %}
                            {% endif %}
                            {% for item in items %}
                                <option value="{{ item.value|default(item) }}" {{ "selected" if item.value|default(item) == setting.default }}>{{ item.label|default(item) }}</div>
                            {% endfor %}
                        </select>
                    {% elif setting.type == 'input' %}
                        <div class="ui input">
                            <input type="text" name="{{ setting.name }}" value="{{ setting.default  }}">
                        </div>
                    {% else %}
                        <h1>Not Implemented</h1>
                    {% endif %}
                </div>
            {% endfor %}
        </form>
      <div class="actions">
        <div class="ui black deny button">
          Cancel
        </div>
        <div class="ui positive right labeled icon button">
          Apply
          <i class="checkmark icon"></i>
        </div>
      </div>
    </div>

{% endmacro %}
